.produtos{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.produto{
  border: 1px solid rgb(250, 4, 4);
  width: 350px;
  text-align: center;
  font-size: 25px;
}
.produto img{
  width: 340px;
  margin: 5px;
  height: 300px;
}

.produto p {
  color: rgb(252, 250, 250);
}
#preco{
  color: rgb(21, 148, 16);
}
.produto button{
  background-color: rgb(245, 8, 8);
  color: rgb(248, 232, 7);
  width: 100px;
  font-size: 15px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
#titulo{
    display: flex;
    justify-content: center;
    color: rgb(226, 198, 43);
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu{
  display: flex;
  justify-content: center;
}
.item-menu{
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(243, 37, 10);
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color:rgb(245, 162, 10);
}