.submenu{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submenu a{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#b98bff, #b98bffad);
  color: #fdfdfd;
  margin-left: 30px;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  width: 300px;
  height: 15px;

  -webkit-box-shadow: 0px 0px 15px 4px rgba(185,139,255,1);
  -moz-box-shadow: 0px 0px 15px 4px rgba(185,139,255,1);
  box-shadow: 0px 0px 15px 4px rgba(185,139,255,1);
}

.submenu a:hover{
  color: #fdfdfd;
  font-size: 17px;
  background-color: #fdfdfd;
  border: 2px solid #b98bff;
}
